<body>

    <div class="container" id="container" #container>

        <div class="sign-up">
            <form action="">
                <h1>Crie uma conta</h1>

                <div class="icons">
                    <a href="" class="icon">𖠿</a>
                </div>

                <input type="text"  [(ngModel)]="nome"  name="nome" placeholder="𖨆    Nome Completo">
                <input type="text" [(ngModel)]="email"  name="email" placeholder="🖂  Email">
                <input type="text" [(ngModel)]="username"  name="username" placeholder="𖠋   Username">
                <input type="password" [(ngModel)]="senha"  name="senha" placeholder="⚷   Password">
                <input type="password" [(ngModel)]="confirmacaoSenha"  name="confirmacaoSenha" placeholder="⚷   Confirme a Password">
                <button (click)="efectuarRegisto()">Registrar</button>

            </form>
        </div>

        <div class="sign-in">
            <form action="">
                <h1>Login</h1>

                <div class="icons">
                    <a href="" class="icon">𖠿</a>
                </div>

                <input type="text" [(ngModel)]="usernameLogin"  name="usernameLogin" placeholder="𖠋   Username">
                <input type="password" [(ngModel)]="senhaLogin"  name="senhaLogin" placeholder="🗝  Password">

                <button id="btnEntrar" (click)="fazerLogin()">Entrar</button>
            </form>
        </div>

        <div class="toogle-container">
            <div class="toogle">

                <div class="toogle-panel toogle-left">
                    <h1>Bem-vindo Usuário</h1>
                    <p>Se já possui uma conta</p>
                    <button class="hidden" id="login" (click)="goLogin()">Entrar</button>
                </div>

                <div class="toogle-panel toogle-right">
                    <h1>Olá Usuário</h1>
                    <p>Se ainda não possui uma conta</p>
                    <button class="hidden" id="register" (click)="goRegister()">Registre-se</button>
                </div>
            </div>
        </div>

    </div>


</body>